<%- include('partials/header') -%>


   
    <h1 class="text-4xl">Always On Time Appointments</h1>
    <% if (locals.isAuthenticated) { %>
        <h1>Daily Appointment Calendar</h1>
        <div id='calendar'></div>
        <div>
            <h3>Add an appointment</h1>
                <form id="form" class="flex flex-col justify-center" action="/calendar" method="POST">
                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="title">Title:</label>
                    <input class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" type="text" class="form-control"
                        id="title" name="title" placeholder="Appointment-Title" required>
        
                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="start">Appointment Start
                        Time:</label>
                    <input class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" type="datetime-local" id="start"
                        name="start" required>
        
<!--         
                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="end">Appointment End
                        Time:</label>
                    <input class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" type="datetime-local" id="end"
                        name="end" required> -->
        
                    <button id="save" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Add
                        Appointment</button>
                </form>
                <h3 style="text-align: center;">Click an event to Modify/Delete it</h3>
        </div>

        <div id="myModal" class="modal">
        
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                            <h3>Modify appointment</h1>
                                <form id="modalForm" class="flex flex-col justify-center">
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="title">Title:</label>
                                    <input class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" type="text" class="form-control"
                                        id="modalTitle" name="modalTitle" placeholder="Appointment-Title" required>
                            
                                    <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="start">Appointment Start
                                        Time:</label>
                                    <input class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" type="datetime-local" id="modalStart"
                                        name="modalStart" data-eventid="" data-userId="">
                            
                            
                                    <!-- <label class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" for="modalEnd">Appointment End
                                        Time:</label>
                                    <input class="block mb-2 text-lg font-medium text-gray-900 dark:text-white" type="datetime-local" id="modalEnd"
                                        name="modalEnd">
                             -->
                                    <button id="modalSave" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Save
                                        Appointment</button>
                                    <button id="modalDelete" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                                        type="button" formmethod="post" formaction="/calendar/">Delete
                                        Appointment</button>
                                </form>

            </div>
        
        </div>
        <% } else { %>
            <p>You are not logged in.<a href="/login" class="underline">Login</a>.</p>
            <% } %>
                <%- include('partials/footer') -%>
                <style>
                    .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
                </style>
                <script>


                     document.addEventListener('DOMContentLoaded', function () {
                        var calendarEl = document.getElementById('calendar')
                        let titleOfAppointment = document.getElementById("title")
                        let modalTitleOfAppointment = document.getElementById("modalTitle")
                        let startTime = document.getElementById("start")
                        let modalStartTime = document.getElementById("modalStart")
                        let submit = document.getElementById("submit")
                        let modal = document.getElementById("myModal")
                        var span = document.getElementsByClassName("close")[0];
                        var now = new Date();
                        var datetime = now.toLocaleString();
                        let calendarObj = {}
                        let modalDelete = document.getElementById("modalDelete")
                        let modalSave = document.getElementById("modalSave")

                        modalStartTime.min = new Date().toISOString().slice(0, new Date().toISOString().lastIndexOf(":"));
                        startTime.min = new Date().toISOString().slice(0, new Date().toISOString().lastIndexOf(":"));


                     modalDelete.addEventListener("click", e => {
                             e.preventDefault()
                             modal.style.display = "none"
                             
                            
                             fetch("/calendar", {
                                 method: "DELETE",
                                 body: JSON.stringify({
                                     eventId: modalDelete.dataset.eventId,
                                     userId: modalDelete.dataset.userId,
                                 }),
                                 headers: {
                                     "Content-type": "application/json; charset=UTF-8"
                                 }

                             })
                                 .then((response) => response.json())
                                 .then((json) => {
                                    alert(json.message)

                                    if(json.message === "Appointment Deleted"){
                                        let result = calendar.getEventById(modalDelete.dataset.eventId);
                                        result.remove()                                    
                                    }
                                     modalDelete.dataset.userId = "";
                                     modalDelete.dataset.eventId = "";
                                 });

                         })


                    modalSave.addEventListener("click", e => {
                             e.preventDefault()
                             modal.style.display = "none"

                             fetch("/calendar", {
                                 method: "PUT",
                                 body: JSON.stringify({
                                     eventId: modalDelete.dataset.eventId,
                                     userId: modalDelete.dataset.userId,
                                     start: modalStartTime.value,
                                     //end: modalEndTime.value
                                 }),
                                 headers: {
                                     "Content-type": "application/json; charset=UTF-8"
                                 }

                             })
                                 .then((response) => response.json())
                                 .then((json) => {
                                    let result = calendar.getEventById(modalDelete.dataset.eventId);
                                    result.setStart(modalStartTime.value)
                                     alert(json.message)
                                     modalDelete.dataset.userId = '';
                                     modalDelete.dataset.eventId = '';

                                 });


                         })
                           
    
                                                    
 


                            let eventsArr = []
                             window.app =  <%-listOfEvents %>
                             eventsArr = [...window.app]
                             //console.log(eventsArr)

                   
                        let calendar = new FullCalendar.Calendar(calendarEl, {
                            initialView: 'dayGridMonth',
                            initialDate: '2024-06-07',
                            selectable: true, // important for activating date selectability!
                            editable: true, // important for activating event interactions!

                            headerToolbar: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay'
                            },

                           events: [...eventsArr],

                            eventClick: function (info) {

                                modal.style.display = "block";
                                modalTitle.value = info.event.title
                                modalStartTime.value = info.event.start.toISOString().slice(0, -1)  
                                modalDelete.dataset.eventId = info.event.id 
                                modalDelete.dataset.userId = info.event.extendedProps.userId

                             }

                        });

                        window.onclick = function (event) {
                             if (event.target == modal) {
                                 modal.style.display = "none";
                             }
                         }

                         span.onclick = function () {
                             modal.style.display = "none";
                         }

                    calendar.render();
                      
                    });
                </script>